{% extends 'base.html' %}

{% block content %}
  <h1 class="text-center">글 수정</h1>

  <form action={% url 'articles:update' article.pk %} method="POST">
    {% csrf_token %}
    {{form.as_p}}
    {% comment %} <label for="title">제목</label>
    <input type="text" name="title" id="title" value="{{article.title}}">
    <br>
    <label for="content">내용</label>
    <textarea cols="30" rows="5" name="content" id="content">{{article.content}}</textarea>   <!-- textarea는 value 대신에 태그 사이에 값을 넣어줌--> {% endcomment %}
    <br>    
    <input type="submit">

  </form>

  <a href={% url 'articles:index' %}>[글 목록]</a>
{% endblock content %}